/* basic reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #83a8df, #c3cfe2);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container{
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


h1{
    text-align: center;
    color: #333;
    /*text-decoration: underline #667eea 3px;*/
    /*text-underline-offset: 10px;*/
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    position: relative;
}

h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #667eea;
    border-radius: 2px;

}

#generate-btn{
    background: linear-gradient(45deg, #667eea, #764ba2);
    color: aliceblue;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
    cursor: pointer;
}

#generate-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}

#generate-btn:active {
  transform: translateY(-0);
}

.palette-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem ;
}

.color-box{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.color-box:hover{
    transform: translateY(-5px);
}

.color{
    height: 120px;
    cursor: pointer;
}

.color-info{
    background-color: #fff;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.hex-value{
    font-weight: 500;
    letter-spacing: 0.5px;
}

.copy-btn{
    cursor: pointer;
    color: #64748b;
    transition: color 0.2s;
}

.copy-btn:hover {
  color: #667eea;
}

@media(max-width:768px){
    .palette-container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}